In [1]:
%matplotlib inline
import matplotlib.pyplot as plt 
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

In [2]:
# read the entire business file into list
with open('yelp_academic_dataset_business.json', 'rb') as f:
    biz_data = f.readlines()

In [3]:
#Create json string 
biz_data_json_str = "[" + ','.join(biz_data) + "]"

In [4]:
#convert json string to data frame
biz_df = pd.read_json(biz_data_json_str)

In [5]:
biz_df = biz_df.fillna('None')
fitness = biz_df[biz_df.categories.str.contains('Fitness')]
hotels = biz_df[biz_df.categories.str.contains('otel')]

In [7]:
#read the entire review file into list
with open('yelp_academic_dataset_review.json', 'rb') as f:
    rev_data = f.readlines()

In [8]:
#create groups of review data to help work with the large amount of lines
rev1 = rev_data[0:200000]
rev2 = rev_data[200000:400000]
rev3 = rev_data[400000:600000]
rev4 = rev_data[600000:800000]
rev5 = rev_data[800000:1000000]

In [ ]:
# Create indvidiual json strings for each group of reviews

In [9]:
rev_data_json_str = "[" + ','.join(rev1) + "]"

In [10]:
rev_data_json_str2 = "[" + ','.join(rev2) + "]"

In [11]:
rev_data_json_str3 = "[" + ','.join(rev3) + "]"

In [12]:
rev_data_json_str4 = "[" + ','.join(rev4) + "]"

In [14]:
rev_data_json_str5 = "[" + ','.join(rev5) + "]"

In [ ]:
# Create individual data frames for each group of reviews

In [15]:
rev_df1 = pd.read_json(rev_data_json_str)

In [15]:
rev_df1.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,iCQpiavjjPzJ5_3gPD5Ebg,0,2011-02-25,0,x7mDIiDB3jEiPGPHOmDzyw,2,The pizza was okay. Not the best I've had. I p...,0,msQe1u7Z_XuqjGoqhB0J5g
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
3,elqbBhBfElMNSrjFqW3now,0,2011-02-25,0,Er4NBWCmCD4nM8_p1GRdow,2,Back in 2005-2007 this place was my FAVORITE t...,2,msQe1u7Z_XuqjGoqhB0J5g
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g

In [16]:
rev_df2 = pd.read_json(rev_data_json_str2)

In [17]:
rev_df3 = pd.read_json(rev_data_json_str3)

In [18]:
rev_df4 = pd.read_json(rev_data_json_str4)

In [19]:
rev_df5 = pd.read_json(rev_data_json_str5)

In [ ]:
#Combine the rev dataframes with the business dataframe

In [20]:
full_df = rev_df1.merge(hotels, on='business_id', how='inner')

In [21]:
full_df = rev_df2.merge(hotels, on='business_id', how='inner')

In [22]:
full_df = rev_df3.merge(hotels, on='business_id', how='inner')

In [23]:
full_df = rev_df4.merge(hotels, on='business_id', how='inner')

In [24]:
full_df = rev_df5.merge(hotels, on='business_id', how='inner')

In [25]:
len(full_df)

9110

In [37]:
type(full_df.text[0])

unicode

In [ ]:
# Convert unicode to strings

In [38]:
import sys  

reload(sys)  
sys.setdefaultencoding('utf8')

In [39]:
full_df.business_id = full_df.business_id.str.encode('utf-8')
full_df.review_id = full_df.review_id.str.encode('utf-8')
full_df.text = full_df.text.str.encode('utf-8')
full_df.user_id = full_df.user_id.str.encode('utf-8')
full_df.address = full_df.address.str.encode('utf-8')
full_df.attributes = full_df.attributes.str.encode('utf-8')
full_df.categories = full_df.categories.str.encode('utf-8')

In [40]:
full_df.city = full_df.city.str.encode('utf-8')
full_df.hours = full_df.hours.str.encode('utf-8')
full_df.name = full_df.name.str.encode('utf-8')
full_df.neighborhood = full_df.neighborhood.str.encode('utf-8')
#full_df.postal_code = full_df.postal_code.astype('utf-8')
full_df.state = full_df.state.str.encode('utf-8')

In [45]:
#save the new data frame to a csv file
full_df.to_csv('yelp_reviews_hotels.csv')