In [1]:
%matplotlib inline
import matplotlib.pyplot as plt 
import pandas as pd
import numpy as np
import json

In [2]:
# read the entire business file into list
with open('yelp_academic_dataset_business.json', 'r', encoding='utf-8') as f:
    biz_data = f.readlines()

In [3]:
#Create json string 
biz_data_json_str = "[" + ','.join(biz_data) + "]"

In [4]:
#convert json string to data frame
biz_df = pd.read_json(biz_data_json_str)

In [5]:
biz_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188593 entries, 0 to 188592
Data columns (total 15 columns):
address         188593 non-null object
attributes      162807 non-null object
business_id     188593 non-null object
categories      188052 non-null object
city            188593 non-null object
hours           143791 non-null object
is_open         188593 non-null int64
latitude        188587 non-null float64
longitude       188587 non-null float64
name            188593 non-null object
neighborhood    188593 non-null object
postal_code     188593 non-null object
review_count    188593 non-null int64
stars           188593 non-null float64
state           188593 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 21.6+ MB

In [6]:
biz_df = biz_df.fillna('Not Available')
hotels = biz_df[biz_df.categories.str.contains('otel')]

In [7]:
#read the entire review file into list
with open('yelp_academic_dataset_review.json', 'r', encoding='utf-8') as f:
    rev_data = f.readlines()

In [8]:
#Create json string 
rev_data_json_str = "[" + ','.join(rev_data) + "]"

In [9]:
#convert json string to data frame
rev_df = pd.read_json(rev_data_json_str)

In [10]:
#Combine the rev dataframe with the business dataframe
full_df = rev_df.merge(hotels, on='business_id', how='inner')

In [11]:
#save the new data frame to a csv file
full_df.to_csv('yelp_reviews_hotels1.csv')